/*
Colors used:
Primary Color (Orange): #FF7F50;
Secondary Color (pink): #FF4252;
*/

* {
  box-sizing: border-box;
}
header {
    background-color: #FF7F50;
    text-align: center;
    padding: 10px 0;
	  box-shadow: 3px 9px 38px rgba(0, 0, 0, 0.8);
    position: relative;  
    width: 100%;
}
  .logo {
    max-width: 250px;
  }
  nav > ul {   
    list-style-type: none;
    padding: 0;
  } 
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
  }
  #hero {
    background-color: white;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }
  
body {font-family: 'Montserrat', sans-serif;
  }
body {background-color: lightcoral;
}
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: black;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
    color:#FF4252;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: white;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #FF4252;
  }
  a:active { /* selected link */
    color: #FF4252;
  }

  .button {
    display: inline-block; 
    background-color: #ff7f50;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button.contact {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
  }
  .button.contact:hover {
    color: #ffffff;
  }
  /* Layout styling */
  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
  #hero h1 {
    text-align: center; /* Centers text */
  }
  footer {
    background-color: #FF7F50;
    text-align: left;
    padding: 10px 0;
    position: relative;  
}

  
